/*(Mini) Reset do CSS para resetar as propriedades que são aplicadas por padrão*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: initial;
    text-align: initial;
}

/*Estilos definidos para a página de documentação*/
caption,p, h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    text-align: left;

    margin-bottom: 30px;
    font-weight: bold;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    margin: 1%;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
    text-decoration:underline;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    line-height: 1;
    font-size: 20px;
}

table {
    width: 27%;
    height: 400px;
    margin: auto;
    border: 5px solid #000000;
    border-radius: 10px;
    border-spacing: 5px;
    border-style: double;
}

caption {
    text-align: center;
    caption-side: bottom;
}

tr, th, td {
    font-size: 15px;
    text-align: center;
}


tr:nth-child(even){
    background-color: #000000;
    color: #ffffff;
}

body {
    width: 90%;
    margin: auto;
}

.display-flex {
    display: flex;
}

.container {
    margin: auto;
    width: 80%;
    height: 200px;
    background-color: #000863;
    border: 10px solid #000000;
    margin-bottom: 20px;;
}

.contido {
    width: 100px;
    height: 100px;
    background-color: #00ccff;
    border: 5px solid #00ffff;
}

.menu {
    list-style: none;
    border: 30px rgb(0, 0, 0);
    float: right;
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid rgb(0, 0, 0);
}
.menu li a{
    background-color: #00ccff;
    color:#000000;
    text-decoration:none;
    padding:5px 10px;
    display:block;
}

.menu li a:hover{
background:#000863;
color:#00ccff;
-moz-box-shadow:0 3px 10px 0 #ccc;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;
}

.menu li  ul{
    position:absolute;
    top:25px;
    left:0;
    background-color:#00ccff;
    display:none;
}

.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    border:1px solid #000000;
    display:block;
    width:114px;
}

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.propriedade {
    border: solid #000000;
    border-radius: 5px;
    border-style: groove;
}

.valor {
    border: solid #000000;
    border-radius: 5px;
    border-style: groove;
}

.flex-direction-column {
    flex-direction: column;
}

.descricao-propriedade {
    margin: 1%;
}