/*(Mini) Reset do CSS para resetar as propriedades que são aplicadas*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: initial;
    text-align: initial;
}

/*Estilos definidos para a página de documentação*/
caption,p, h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;
    text-align: center;
    text-decoration:underline;
    margin-bottom: 30px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
    margin-left: 15px;
}

h4 {
    font-size: 16px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5 {
    font-size: 10px;
    margin-left: 15px;
}

p {
    line-height: 1;
    margin-bottom: 20px;
    font-size: 16pt;
}

table {
    width: 27%;
    height: 400px;
    margin: auto;
    border: 5px solid #000000;
    border-radius: 10px;
    border-spacing: 5px;
    border-style: double;
}

caption {
    text-align: center;
    caption-side: bottom;
}

tr, th, td {
    font-size: 15px;
    text-align: center;
}


tr:nth-child(even){
    background-color: #000000;
    color: #ffffff;
}

body {
    width: 90%;
    margin: auto;
}

.container {
    height: 200px;
    background-color: #000863;
    border: 5px solid #000000;
    margin-bottom: 20px;
}

.contido {
    width: 100px;
    height: 100px;
    background-color: #00ccff;
    border: 5px solid #00ffff;
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.propriedade {
    border: solid #000000;
    border-radius: 5px;
    border-style: groove;
}

.valor {
    border: solid #000000;
    border-radius: 5px;
    border-style: groove;
}

.flex-direction-column {
    flex-direction: column;
}

.descricao-propriedade {
    text-align: center;
}